body {
  background-color: black;
  color: red;
  font-family: "quicksand", sans-serif;
  text-align: center;
}
h1 {
  font-size: 200%;
}
#container {
  margin: 5% auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.box {
  display: inline-block;
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px;
}
span {
  position: absolute;
  font-size: 75px;
  font-family: "raleway" sans-serif;
  text-align: center;
  height: 75px;
  width: 75px;
  padding: 0;
  margin: 5px;
  margin-left: -35px;
}
.top {
  border-top: none;
}
.bottom {
  border-top: none;
}
.right {
  border-top: none;
}
.left {
  border-top: none;
}
.alert {
  height: 75px;
  width: 125px;
  display: inline-block;
  background: ghostwhite;
  position: relative;
  z-index: 7;
  margin-top: -50%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-animation: larger 00.5s;
  box-shadow: 0 0 75px 2px dimgray;
  animation: larger 0.5s;
  -webkit-animation: larger 0.5x;
  -moz-animation: larger 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: content-box;
  -moz-animation-fill-mode: content-box;
  padding: 30px;
  bottom: 50px;
  top: 0px;
}

@keyframes larger {
  from {
    height: 75px;
    width: 125px;
  }
  to {
    height: 100px;
    width: 250px;
  }
}


